In [6]:
import pandas as pd
df = pd.read_csv(r"D:\DATA ANALYSIS\walmart sales\Walmart_SQL_READY_FINAL_CLEAN.csv")
print(df.head())
print(df.columns)

         city  customer_age      customer_name customer_segment  discount  \
0  McKeesport           NaN     Jessica Myrick   Small Business      0.10
1       Bowie           NaN     Matt Collister      Home Office      0.08
2        Napa           NaN  Alan Schoenberger        Corporate      0.00
3  Montebello           NaN  Elizabeth Moffitt         Consumer      0.08
4        Napa           NaN  Alan Schoenberger        Corporate      0.07

   number_of_records           order_date  order_id order_priority  \
0                  1  2012-01-01 00:00:00     28774           High
1                  1  2012-01-01 00:00:00     13729  Not Specified
2                  1  2012-02-01 00:00:00     37537            Low
3                  1  2012-02-01 00:00:00     44069       Critical
4                  1  2012-02-01 00:00:00     37537            Low

   order_quantity  ...   profit region row_id    sales            ship_date  \
0              32  ...  -111.80   East   4031   180.36  2012-02-01 00:00:00
1               9  ...  -342.91   East   1914   872.48  2012-03-01 00:00:00
2               4  ...  -193.08   West   5272  1239.06  2012-02-01 00:00:00
3              43  ...   247.79   West   6225   614.80  2012-02-01 00:00:00
4              43  ... -1049.85   West   5273  4083.19  2012-04-01 00:00:00

        ship_mode shipping_cost         state  unit_price zip_code
0     Regular Air          4.69  Pennsylvania        5.98    15131
1     Express Air         35.00      Maryland       95.99    20715
2  Delivery Truck         48.80    California      291.73    94559
3     Regular Air          1.97    California       15.04    90640
4  Delivery Truck         45.00    California      100.98    94559

[5 rows x 25 columns]
Index(['city', 'customer_age', 'customer_name', 'customer_segment', 'discount',
       'number_of_records', 'order_date', 'order_id', 'order_priority',
       'order_quantity', 'product_base_margin', 'product_category',
       'product_container', 'product_name', 'product_sub-category', 'profit',
       'region', 'row_id', 'sales', 'ship_date', 'ship_mode', 'shipping_cost',
       'state', 'unit_price', 'zip_code'],
      dtype='object')

In [7]:
df['order_date'] = pd.to_datetime(df['order_date'])
df['ship_date'] = pd.to_datetime(df['ship_date'])
num_cols = [
    'sales', 'profit', 'discount', 'unit_price',
    'order_quantity', 'shipping_cost',
    'product_base_margin', 'customer_age'
]
for col in num_cols:
    df[col] = pd.to_numeric(df[col], errors='coerce')

In [9]:
df['customer_age'] = df['customer_age'].fillna(df['customer_age'].median())

In [10]:
df['customer_age'].isnull().sum()

np.int64(0)

In [11]:
df.groupby('region')['sales'].sum().sort_values(ascending=False)

region
Central    4.699167e+06
West       3.649748e+06
East       3.416466e+06
South      3.150219e+06
Name: sales, dtype: float64

In [12]:
df.groupby('product_category')['profit'].sum()

product_category
Furniture          117432.986281
Office Supplies    518021.458000
Technology         886313.515300
Name: profit, dtype: float64

In [13]:
df[df['profit'] < 0]

,city,customer_age,customer_name,customer_segment,discount,number_of_records,order_date,order_id,order_priority,order_quantity,...,profit,region,row_id,sales,ship_date,ship_mode,shipping_cost,state,unit_price,zip_code
0,McKeesport,53.0,Jessica Myrick,Small Business,0.10,1,2012-01-01,28774,High,32,...,-111.800,East,4031,180.36,2012-02-01,Regular Air,4.69,Pennsylvania,5.98,15131
1,Bowie,53.0,Matt Collister,Home Office,0.08,1,2012-01-01,13729,Not Specified,9,...,-342.910,East,1914,872.48,2012-03-01,Express Air,35.00,Maryland,95.99,20715
2,Napa,53.0,Alan Schoenberger,Corporate,0.00,1,2012-02-01,37537,Low,4,...,-193.080,West,5272,1239.06,2012-02-01,Delivery Truck,48.80,California,291.73,94559
4,Napa,53.0,Alan Schoenberger,Corporate,0.07,1,2012-02-01,37537,Low,43,...,-1049.850,West,5273,4083.19,2012-04-01,Delivery Truck,45.00,California,100.98,94559
6,Prior Lake,53.0,David Philippe,Consumer,0.06,1,2012-02-01,9285,Critical,3,...,-11.937,Central,1279,124.81,2012-04-01,Regular Air,2.99,Minnesota,40.98,55372
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8393,Charlottesville,95.0,Jim Epp,Small Business,0.08,1,NaT,47815,Not Specified,45,...,-33.470,South,6712,580.96,NaT,Regular Air,6.85,Virginia,13.73,22901
8394,Fairfield,95.0,Tony Molinari,Corporate,0.10,1,NaT,50950,Not Specified,35,...,-15.070,West,7142,448.10,NaT,Express Air,4.51,California,13.48,94533
8395,Harker Heights,95.0,Matt Hagelstein,Home Office,0.09,1,NaT,25542,Low,37,...,-18.660,Central,3583,257.46,NaT,Express Air,4.23,Texas,7.28,76543
8396,Riverview,95.0,Theresa Swint,Consumer,0.10,1,NaT,45127,Medium,10,...,-1.290,South,6361,14.15,NaT,Regular Air,0.70,Florida,1.48,33569
8397,Nicholasville,95.0,Maribeth Yedwab,Home Office,0.09,1,NaT,49344,Low,1,...,-745.200,South,6916,803.33,NaT,Regular Air,24.49,Kentucky,832.81,40356

In [14]:
df.groupby(df['order_date'].dt.to_period('M'))['sales'].sum()

order_date
2012-01    124285.5150
2012-02    152419.8065
2012-03    107295.1465
2012-04    200156.5255
2012-05    232397.1560
2012-06    150602.1130
2012-07    157419.3280
2012-08     87491.8380
2012-09    124322.7680
2012-10    132230.3850
2012-11    117284.0605
2012-12    167801.4735
2013-01     93166.1030
2013-02     95261.3230
2013-03    149576.5365
2013-04     74143.8820
2013-05     96155.0665
2013-06     89871.5925
2013-07     89390.6160
2013-08     77694.1990
2013-09    158856.5865
2013-10    108158.5885
2013-11    111088.0860
2013-12    163759.0255
2014-01     97282.3570
2014-02    143398.5225
2014-03    125670.4125
2014-04    138837.8715
2014-05    167658.2565
2014-06    128050.1490
2014-07    128706.0010
2014-08     78047.7435
2014-09     85211.4100
2014-10    172011.8795
2014-11    125128.3045
2014-12     87502.6645
2015-01    150318.1665
2015-02    237823.0290
2015-03     89702.5405
2015-04     87332.3585
2015-05    138271.3470
2015-06    130666.5890
2015-07    136919.1090
2015-08     86199.3880
2015-09    142192.7050
2015-10    137723.6820
2015-11    116622.1900
2015-12    155097.8115
Freq: M, Name: sales, dtype: float64

In [15]:
import numpy as np
df['customer_age'] = np.random.randint(18, 65, size=len(df))

In [16]:
df.loc[df['customer_segment'] == 'Consumer', 'customer_age'] = \
    df.loc[df['customer_segment'] == 'Consumer', 'customer_age'].fillna(30)
df.loc[df['customer_segment'] == 'Corporate', 'customer_age'] = \
    df.loc[df['customer_segment'] == 'Corporate', 'customer_age'].fillna(40)
df.loc[df['customer_segment'] == 'Small Business', 'customer_age'] = \
    df.loc[df['customer_segment'] == 'Small Business', 'customer_age'].fillna(35)

In [17]:
df[['customer_age', 'customer_segment']].head()
df['customer_age'].isnull().sum()

np.int64(0)

In [19]:
df.to_csv(
    r"D:\DATA ANALYSIS\walmart sales\Walmart_SQL_READY_FINAL_CLEAN_UPDATED.csv",
    index=False
)
print("File saved successfully")

File saved successfully

In [20]:
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8399 entries, 0 to 8398
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   city                  8399 non-null   object
 1   customer_age          8399 non-null   int32
 2   customer_name         8399 non-null   object
 3   customer_segment      8399 non-null   object
 4   discount              8399 non-null   float64
 5   number_of_records     8399 non-null   int64
 6   order_date            3452 non-null   datetime64[ns]
 7   order_id              8399 non-null   int64
 8   order_priority        8399 non-null   object
 9   order_quantity        8399 non-null   int64
 10  product_base_margin   8336 non-null   float64
 11  product_category      8399 non-null   object
 12  product_container     8399 non-null   object
 13  product_name          8399 non-null   object
 14  product_sub-category  8399 non-null   object
 15  profit                8399 non-null   float64
 16  region                8399 non-null   object
 17  row_id                8399 non-null   int64
 18  sales                 8399 non-null   float64
 19  ship_date             3401 non-null   datetime64[ns]
 20  ship_mode             8399 non-null   object
 21  shipping_cost         8399 non-null   float64
 22  state                 8399 non-null   object
 23  unit_price            8399 non-null   float64
 24  zip_code              8399 non-null   int64
dtypes: datetime64[ns](2), float64(6), int32(1), int64(5), object(11)
memory usage: 1.6+ MB

In [22]:
import csv
df.to_csv(
    r"D:\DATA ANALYSIS\walmart sales\Walmart_SQL_READY_FINAL_CLEAN_UPDATED.csv",
    index=False,
    quoting=csv.QUOTE_ALL,   # ⭐ sab text double-quotes me
    escapechar='\\',
    encoding='utf-8'
)
print("PostgreSQL-safe CSV saved successfully")

PostgreSQL-safe CSV saved successfully

In [23]:
import numpy as np
import csv
df['product_base_margin'] = df['product_base_margin'].replace('', np.nan)
df['product_base_margin'] = df['product_base_margin'].fillna(
    df['product_base_margin'].median()
)

In [24]:
df.to_csv(
    r"D:\DATA ANALYSIS\walmart sales\Walmart_SQL_READY_FINAL_PG.csv",
    index=False,
    quoting=csv.QUOTE_ALL,
    na_rep='',
    encoding='utf-8'
)
print("PostgreSQL-safe CSV created")

PostgreSQL-safe CSV created

In [25]:
import numpy as np
import csv
df['order_date'] = pd.to_datetime(df['order_date'], errors='coerce')
df['ship_date'] = pd.to_datetime(df['ship_date'], errors='coerce')
df['order_date'] = df['order_date'].replace({pd.NaT: np.nan})
df['ship_date'] = df['ship_date'].replace({pd.NaT: np.nan})

In [26]:
df.to_csv(
    r"D:\DATA ANALYSIS\walmart sales\Walmart_SQL_READY_FINAL_PG.csv",
    index=False,
    quoting=csv.QUOTE_ALL,
    na_rep='',          # NULL ke liye
    encoding='utf-8'
)
print("FINAL PostgreSQL-safe CSV saved")

FINAL PostgreSQL-safe CSV saved